tr {
  border-bottom: 1px solid #ddd;
}
tr:hover {
  background-color: #d6eeee;
}

input:invalid {
  border-color: red;
}

input:invalid:focus {
  outline-color: red;
}

fieldset {
  padding: 0;
}

fieldset input,
fieldset select,
fieldset textarea {
  width: 100%;
  border: none;
  padding: 0;
}

.btns {
  margin-top: 1em;
  display: flex;
  justify-content: space-around;
}
